// .scroll{
//     min-height: 250px !important;
//     max-height: 300px !important;
// }
.table tr td{ 
    border: none !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
   }
.timeArr{
    min-height: 24vh !important;
    max-height: 41.6vh !important;
}
#example{
    margin-top: 0px !important;
    margin-bottom: -25px !important;
}
// .scrollSection{
//     min-height: 230px !important;
//     max-height: 300px !important;
// }
// .inner{ 
// margin-bottom: -36px!important;
// }
tr.noBorder td {
    border: 0;
  }
  .template{
      height: 50vh !important;
      width: 80% !important;
  }

  .extraBottom{
      padding-bottom: 35px;
  }

  .form {
    
    width: 22%!important;
    margin-right: 46px!important;
    margin-left: -9px!important;
}
.userCard{
    min-height: 8vh  !important;
    max-height: 56vh  !important;
  }
  .subCard{
    min-height: 8vh  !important;
    max-height: 56vh  !important;
  }