.delIconSize{
    font-size: large;
}

.isDefault{
    margin-left: -25px;
}
.card-min-height{
    height: 500px !important;
}
.card-min-height{
    overflow-y: auto;
}
.add{
padding-right: 12.5px;
padding-left: 12.5px;
margin-top:5px;
}
hr{
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.size{
    padding: 0.25rem 0.5rem;
    font-size:10px;
    
    }
   