<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6">
      <app-page-title title="Scheme"></app-page-title>
    </div>
    <div class="col-xl-6">
      <div class="text-right my-auto mb-4">
        <button type="button" class="btn btn-success btn-sm mb-2 " (click)="openScheme(scheme)">
          <i class="mdi mdi-plus mr-1"></i> Add Scheme
        </button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <table id="scheme" class="table table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Degree</th>
            <th>Branch</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody  >
          <tr  *ngFor="let schemeList of schemeArr;let i = index">
            <td>{{i + 1}}</td>
            <td>{{schemeList.name}}</td>
            <td>{{schemeList.branchObj.degreeObj.name}}</td>
            <td>{{schemeList.branchObj.shortName}}</td>
            <td class="">
              <i class="fas fa-edit  text-success mr-2" (click)="editScheme(schemeList, scheme)"></i>
              <i class="fa fa-trash text-danger" aria-hidden="true" (click)="openModal(dModal,schemeList.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #scheme let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Scheme</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="scheme">
    <form [formGroup]="schemeForm" autocomplete="off" (ngSubmit)="addScheme(modal)">
      <div class="row">
      
        <div class="col-sm-12">
          <div class="form-group has-float-label" formGroupName="degreeObj">
            <ng-select [items]="degreeArr" id="degreeId" formControlName="id" [(ngModel)]="schemeObj.degreeObj" bindLabel="name"
              bindValue="id" placeholder="Choose"
              [ngClass]="{ 'is-invalid': schemeSubmitted && d.controls['id'].errors || d.controls['id'].invalid && (d.controls['id'].dirty || d.controls['id'].touched)}">
            </ng-select>
            <label for="name" class="col-md-4">Degree</label>
            <div *ngIf="schemeSubmitted && d.controls['id'].errors || d.controls['id'].invalid && (d.controls['id'].dirty || d.controls['id'].touched)"
              class="invalid-feedback">
              <div *ngIf="d.controls['id'].errors.required">Required</div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group has-float-label" formGroupName="branchObj">
            <ng-select [items]="branchArr" id="branchId" formControlName="id" [(ngModel)]="schemeObj.branchObj" bindLabel="shortName"
              bindValue="id" placeholder="Choose"
              [ngClass]="{ 'is-invalid': schemeSubmitted && b.controls['id'].errors || b.controls['id'].invalid && (b.controls['id'].dirty || b.controls['id'].touched)}">
            </ng-select>
            <label for="name" class="col-md-4">Branch</label>
            <div
              *ngIf="schemeSubmitted && b.controls['id'].errors || b.controls['id'].invalid && (b.controls['id'].dirty || b.controls['id'].touched)"
              class="invalid-feedback">
              <div *ngIf="b.controls['id'].errors.required">Required</div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group has-float-label">
            <input id="name" type="text" formControlName="name" [(ngModel)]="schemeObj.name" class="form-control"
              placeholder="Name"
              [ngClass]="{ 'is-invalid': schemeSubmitted && f.name.errors || f.name.invalid && (f.name.dirty || f.name.touched)}">
            <label for="name" class="col-md-4">Name</label>
            <div *ngIf="schemeSubmitted && f.name.errors || f.name.invalid && (f.name.dirty || f.name.touched)"
              class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-sm btn-primary mb-2">{{buttonText}}</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #dModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div>
    <h6 class="ml-3 mt-2">Are you sure to Delete this ?</h6>
    <div class="text-right mt-2 mr-2">
      <button type="button" class="btn btn-primary btn-sm ml-2 mb-3" (click)="deleteData(modal)">Yes</button>
    </div>
  </div>
</ng-template>