// #examDate{
//   position: ;
// }
tr td {
    padding-left: 0px !important;
    margin-left: 0px !important;
   }
   .noBorder{
       border: none;
   }
//    .manegeCard{
//     min-height: fit-content !important;
//     max-height: 300px !important;
// }
