.width{
    width: 100%;
}
.detail{
    width:121%
}

//   .box{
//     margin-bottom: -15px;
//   }
  .dot{
      margin-left: 33px;
  }
  .left{
      margin-left: 103px;
  }
.sem{
    margin-left: 89px;  
}
p{
    font-weight: 600;
}
// .area {
//   height: 93px !important;
//   background-color: white !important;
//   width: 156%;
// }