<div [ngStyle]="{backgroundImage:'url(assets/images/bg_white.png)'}" class =" account-pages">
  <div [ngStyle]="{backgroundImage:'url(assets/images/bg_color.png)'}" class =" seccond-pages">
<div class="home-btn d-none d-sm-block">
    <a href="" class="text-dark"><i class="fas fa-home h2"></i></a>
  </div>
  <div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5 mt-5">
          <div class="card overflow-hidden justify-content-center mt-5">
            <div class="bg-soft-primary">
              <div class="row">
                <div class="col-7">
                  <div class="text-primary p-4">
                    <h5 class="text-primary"></h5>
                    <p>Forgot Password </p>
                  </div>
                </div>
                <div class="col-5 align-self-end">
                  <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="card-body pt-0 pb-2 mt-1">
              <a href="/">
                <div class="avatar-md profile-user-wid mb-0">
                  <button class="radius btn  btn-primary p-2" >
                    <img src="assets/images/logo_white.png" alt="" class="schol" height="25">
                  </button>
                </div>
              </a>
              <div class="p-2 pb-3">
                <form class="form-horizontal" [formGroup]="forgotPasswordFrom" (ngSubmit)="onSubmit()">
  
                  <div class="form-group  mb-3">
                    <label for="userNameOrEmailOrPhoneNumber">User Name or Email or Phone Number</label>
                    <input type="password" formControlName="userNameOrEmailOrPhoneNumber" class="form-control" id="userNameOrEmailOrPhoneNumber" placeholder="User Name or Email or Phone Number"
                    [ngClass]="{ 'is-invalid': submitted && f.userNameOrEmailOrPhoneNumber.errors || f.userNameOrEmailOrPhoneNumber.invalid && (f.userNameOrEmailOrPhoneNumber.dirty || f.userNameOrEmailOrPhoneNumber.touched)}">
                      <div
                      *ngIf="submitted && f.userNameOrEmailOrPhoneNumber.errors || f.userNameOrEmailOrPhoneNumber.invalid && (f.userNameOrEmailOrPhoneNumber.dirty || f.userNameOrEmailOrPhoneNumber.touched)"
                      class="invalid-feedback">
                      <div *ngIf="f.userNameOrEmailOrPhoneNumber.errors.required">Required</div>
                    </div>
                  </div>
    
                  <div class="mt-3">
                    <button type="submit" class="btn btn-primary btn-block">Send</button>
                  </div>
                </form>
              </div>
  
            </div>
          </div>
          <div class="mt-4 text-center">
            <p>Remember It ? <a routerLink="/account/login" class="font-weight-medium text-primary"> Login</a> </p>
            <p>© {{year}} GoSchoolz.</p>
          </div>
  
        </div>
      </div>
    </div>
  
    <!-- end container -->
  </div>
  </div>
  </div>
  <!-- end page -->
  