<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-6">
                    <!-- <app-page-title title="List of Route"></app-page-title> -->
                    <div class="mb-3 pageHeading">
                        <h4 class="">List of Route</h4>
                      </div>
                </div>
                <div class="col-xl-6">
                    <div class="text-right my-auto ">
                        <button type="button" class="btn btn-success btn-sm mb-2 mr-3"
                            routerLink="/transport/routemap">
                            <i class="mdi mdi-plus mr-1 mb-3"></i>Add Route
                        </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <table id="example" class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Vehicle Name</th>
                                <th>Origin Location</th>
                                <th>Destination Location</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>St</td>
                                <td>tnj</td>
                                <td>ond</td>
                                <td>
                                    <i class="fas fa-edit text-success mr-3"></i>
                                    <i class="fa fa-trash text-danger mr-3" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

