<div [ngStyle]="{backgroundImage:'url(assets/images/bg_white.png)'}" class =" account-pages">
  <div [ngStyle]="{backgroundImage:'url(assets/images/bg_color.png)'}" class =" seccond-pages">
<div   class="home-btn d-none d-sm-block ">
  <a href="/" class="text-dark"><i class="fas fa-home h2"></i></a>
</div>
<div>
  <div class="container">
    <div class="row justify-content-center ">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden mt-5">
          <div class="bg-soft-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Welcome Back !</h5>
                  <p>Sign in to continue to GoSchoolz.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0 pb-2 mt-2">
              <a href="/">
                <div class="avatar-md profile-user-wid mb-0">
                  <button class="radius btn  btn-primary p-2" >
                    <img src="assets/images/logo_white.png" alt="" class="schol" height="25">
                  </button>
                </div>
              </a>
            <div class="p-2 mt-3">
              <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">

                <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                <div class="form-group  mb-3">
                  <label for="username">User Name</label>
                  <input type="username" formControlName="username" class="form-control" id="username" placeholder="User Name"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Required</div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="password">Password</label>
                  <input type="password" formControlName="password" class="form-control" id="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Required</div>
                  </div>
                </div>

                <div class="mt-3">
                  <button class="btn btn-primary btn-block" type="submit">Log In</button>
                </div>

                <div class="mt-4 text-center">
                  <a routerLink="/account/forgotPassword" class="text-muted"><i class="mdi mdi-lock mr-1"></i> Forgot your
                    password?</a>
                </div>
                <!-- <div class="row mt-3">
                  <div class="col-1">

                  </div>
                  <div class="col-4 text-right">
                    <a class="font-weight-bolder" routerLink="/account/changePassword">Change Password</a>
                  </div>
                  <div class="col-1">
                      <a class="ml-1">/</a>
                  </div>

                  <div class="col-6">
                    <a class="font-weight-bolder mr-4" routerLink="/account/forgotPassword">Forgot Password?</a>
                  </div>
                  
                </div> -->

              </form>
            </div>

          </div>
        </div>
        <div class="mt-4 text-center">
          <!-- <p>Don't have an account ? <a routerLink="/account/signup" class="font-weight-medium text-primary"> Signup
            now
          </a> </p> -->
          <p>© {{year}} GoSchoolz.</p>
        </div>

      </div>
    </div>
  </div>

  <!-- end container -->
</div>
<!-- end page -->
</div>
</div>