// .backImg{
//     background-image: url('assets/images/Rectangle 3@1X.png');
//     background-size: cover;
// }
.account-pages{
    background-color: #ffff;
    height: 100vh;

}
.seccond-pages{
    height: 100vh;

}
.radius{
    border-radius: 5px !important;
    padding: 8px 4px;
}