
.dashh{
    margin-top: -7.5%;
}
.card-min-height{
    height: 400px !important;
} 
.card-min-height{
    overflow-y: auto; 
}
.driverCard{
    min-height: 24vh !important;
    max-height: 40vh !important;
}