.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
}
.margin{
    margin-bottom: -20px;
}
.userCard{
    min-height: 8vh !important;
    max-height: 48vh  !important;
  }
