.size{
    padding-top: 0px !important;
    min-height: 200px !important;
    max-height: 410px !important;
    padding-bottom: 10px !important;
}
tr td {
padding-bottom: 0px !important; 
padding-left: 0px !important;
margin-left: 0px !important;
 }
 .display{
    display: inline-flex;
}
.noBorderInput{
    border: none;
}
.PromoCard{
    min-height: fit-content !important;
    max-height: 32vh !important;

}
