.footer{
    position: absolute;
    clear: both;
}
// .section-footer {
// 	position: absolute;
// 	// bottom: 0px;
// 	width: 100%;
// 	clear: both;
// }
// body {
// 	position: relative;
// 	min-height: 70vh;
// 	font-family: "Ubuntu", sans-serif;
// 	font-size: 13px;
// 	background-color: #f0f2f5;
// }
.img{
    width: 4rem !important;
}
a{
    color: #74788d !important;
}