.resultCard{
    min-height: 16vh !important;
    max-height: 32vh !important;
}
// .tableBody{
//     // padding-bottom: 0px !important;
// }
.noBorderInput{
    border: none;
}
.markCard{
    min-height: fit-content !important;
    max-height: 48vh !important;
}
tr td{
    padding-left: 0px !important;
    margin-left: 0px !important;
}
