<div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="row">
          <div class="col-xl-6">
            <!-- <app-page-title title="Fee Collection Counter"></app-page-title>  -->
            <div class="mb-2 pageHeading">
              <h4 class="">Fee Collection Counter</h4>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-right my-auto ">
              <button type="button" (click)="openModal(myModal)" class="btn btn-success btn-sm mb-2">
                <i class="mdi mdi-plus mr-1 mb-3"></i>Add Fee Counter
              </button>
            </div>
          </div>
        </div>
        <div class="card-2">
          <div class="card-body ">
            <table id="feecounter" class="table table-bordered" style="width:100%" >
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Name</th>
                  <th>Short Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody> 
                <tr *ngFor="let feeData of feeArr;let i = index"  >
                  <td>{{i+1}}</td>
                  <td>{{feeData.name}}</td>
                  <td>{{feeData.shortName}}</td>
                  <td>
                  <i class="fas fa-edit  text-success mr-2" (click)="editfee(feeData, myModal)"></i>
                  <i class="fa fa-trash text-danger" aria-hidden="true" (click)="openModall(dModal,feeData.id)"></i>
                </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>
    <ng-template #myModal  let-modal>
      <div class="modal-header">
        <h5 class="modal-title">Fee Counter</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body" id="myModal">
          <form [formGroup]="feeForm" autocomplete="off"  (ngSubmit)="addfee(modal)">
              <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group ">
                      <label for="name">Name</label>
                        <input id="name"  type="text" class="form-control" formControlName="name" [(ngModel)]="feeObj.name" placeholder="Name"
                        [ngClass]="{ 'is-invalid': feeSubmitted && f.name.errors || f.name.invalid && (f.name.dirty || f.name.touched)}" >
                          <div
                          *ngIf="feeSubmitted && f.name.errors || f.name.invalid && (f.name.dirty || f.name.touched)"
                          class="invalid-feedback">
                          <div *ngIf="f.name.errors.required">Required</div>
                        </div> 
                        </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group ">
                      <label for="shortName">Short Name</label>
                        <input id="shortName"  type="text" class="form-control" formControlName="shortName" [(ngModel)]="feeObj.shortName" placeholder="Short Name"
                        [ngClass]="{ 'is-invalid': feeSubmitted && f.shortName.errors || f.shortName.invalid && (f.shortName.dirty || f.shortName.touched)}" >
                          <div
                          *ngIf="feeSubmitted && f.shortName.errors || f.shortName.invalid && (f.shortName.dirty || f.shortName.touched)"
                          class="invalid-feedback">
                          <div *ngIf="f.shortName.errors.required">Required</div>
                        </div> 
                        </div>     
                </div>
              </div>
          <div class="text-right mt-2">
          <button type="submit" class="btn btn-sm btn-primary mb-2">{{buttonText}}</button>
        </div>
      </form>
      </div>
    </ng-template>
    <ng-template #dModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        <h6 class="ml-3 mt-2">Are you sure want to delete this ?</h6>
        <div class="text-right mt-2 mr-2">
          <!-- <button type="button" class="btn btn-danger  mb-3" (click)="modal.dismiss('Cross click')">No</button> -->
          <button type="button" class="btn btn-primary btn-sm ml-2 mb-3" (click)="deleteData(modal)">Yes</button>
        </div>
      </div>
    </ng-template>