  /*----------Section-1 css ------*/
  .dashCard{
    width: 270px !important;
    height: 170px !important;

}
.dashCard1{
    width: 495px !important;
    height: 180px !important;

}
.Eventcard{
    
        // width: 510px !important;
        height: 419px !important;
    }
.dot-cir{
    background-color: #3b67b8 !important;
}
.v1{
    border-left: 1px solid grey;
    height: 40px;
    margin-left: 70px;
}
.rou{
    background-color: blue;
}
.v2{
    
        border-left: 1px solid grey;
        height: 30px;
}
.pills{
    // position: absolute;
    border-radius: 25px;
}
.teach{
    height: 50%;
    margin-top: 10%;
}
.mar{
    margin-top: 14%;
}
.centered {
    position: absolute;
    top: 20%;
    left: 46%;
    transform: translate(-50%, -50%);
}
.position-abs{
        position: absolute;
        margin-top: -1rem;
        text-align: center;
        width: 100%;
}
.earn{
    display: inline-block;
    margin: 0 auto;
}
.horiz{
    width: 248px !important;
}
.stud{
    font-size: 34px;
}
.first{
    padding: 0;

}
.userButton{
    border-radius: 10px !important;
    border: 1px solid #d1cdcd;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.Eventdot{
    width:14px;
    height:14px;
    background-color: #3c3cdb;
    border-radius:7px;
    position: absolute;
    top:4vh !important;
    margin-left: -6px !important;
  }
  .Eventdot2{
    width:14px;
    height:14px;
    border-radius:7px;
    position: absolute;
    top:15vh !important;
    margin-left: -6px !important;
    background-color: #495057;
  }
  .Eventdot3{
    width:14px;
    height:14px;
    background-color: #3c3cdb;
    border-radius:7px;
    position: absolute;
    top:27vh !important;
    margin-left: -6px !important;

  }
  .Eventdot4{
    width:14px;
    height:14px;
    border-radius:7px;
    position: absolute;
    top:38vh !important;
    margin-left: -6px !important;
    background-color: #495057;
  }
  .dayTime{
      font-size: .7rem !important;
  }
.line1{
    height:275px !important;
    width:2px;
    background: #D1D6E6;
    position: relative;
  }
/*----------Section-2 css ------*/
.mainImg{
    position: relative;
}
.imgText{
   position: absolute;
   top: 0 !important;
}
.Pass {
    position: absolute;
    top: 20%;
    left: 46%;
    transform: translate(-50%, -50%);
}
.position-img{
        position: absolute;
        margin-top: -1rem;
        text-align: center;
        width: 100%;
}
.passImg{
    display: inline-block;
    margin: 0 auto;
}
.tableCardBody{
    padding-top: 0px !important;
}
.detailCard{
   height: 52vh !important;
}
.pagination {
    display: inline-block;
    }
    
    .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    }
    .eyeBtn{
    border: 1px solid rgb(211, 207, 207);
}
.btn-primary{
    width: 80px !important;
    background-color: rgb(29, 116, 187) !important;
}
.btn-danger{
    width: 80px !important;
    background-color: rgb(196, 36, 36) !important;
}
.card-header{
    background-color: white;
    padding-bottom: 0px !important;
}
.mainTable{
    width: 100% !important;
}
.avatar {
    vertical-align: middle;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    }
.quote{
    font-size: 1rem !important;
}
.quote-p{
    word-spacing: 5px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
.quoteSpan{
    margin-top: 10px !important;
}
.para{
    margin-bottom: 0px !important;
}
.numBtn{
  width: 20px !important;
  height: 30px !important;
  background-color: #3c3cdb;
  color: #ffff;
 padding-left: 9px !important;
 padding-right: 18px !important;
  border-radius: 0px !important;
}
.numDarkBtn{
  width: 20px !important;
  height: 30px !important;
  background-color: #495057;
 padding-left: 9px !important;
 padding-right: 18px !important;
  border-radius: 0px !important;
}
.timeLineCardBody{
  padding: 0px !important;
}

/*----Time-line css----*/
.line{
  height:301px !important;
  width:2px;
  background: #D1D6E6;
  position: relative;
}
.dot{
    width:14px;
    height:14px;
    background-color: #3c3cdb;
    border-radius:7px;
    position: absolute;
    top:4.5vh !important;
    margin-left: -6px !important;
  }
  .dot2{
    width:14px;
    height:14px;
    border-radius:7px;
    position: absolute;
    top:18vh !important;
    margin-left: -6px !important;
    background-color: #495057;
  }
  .dot3{
    width:14px;
    height:14px;
    background-color: #3c3cdb;
    border-radius:7px;
    position: absolute;
    top:32vh !important;
    margin-left: -6px !important;

  }
  .dot4{
    width:14px;
    height:14px;
    border-radius:7px;
    position: absolute;
    top:46.1vh !important;
    margin-left: -6px !important;
    background-color: #495057;
  }

// .timeline{
//   width:355px;
 
//   overflow:hidden;
 


// position:absolute;
//   margin-left:71px;
// box-shadow: 0px 20px 53px -30px rgba(95, 102, 173, 0.566816);
// border-radius: 10px;

  
  
//   .box{
//     width:100%;
//     height:509px;
//     background:#fbfcfd;
//     margin-top:99.5px;
    
    
//     .container{
      
//       width:100%;
//       height:357px;
//       display:flex;

//       .lines{
//         margin-left:40px;
//         margin-top:6px;
        
        
//         .dot{
//           width:14px;
//           height:14px;
//           background: #D1D6E6;
//           border-radius:7px;
//         }
        
//         .line{
//           height:103px;
//           width:2px;
//           background: #D1D6E6;
//           margin-left:5.3px;
//         }
//       }

    
//     }

//   }
// }
    